/* -- HEADER -- */

header img {
  height: 50px;
}

header a {
  text-decoration: none;
  color: #212529;
}

header li:nth-child(5) {
  border-bottom: 2px solid #0d6efd;
  margin-bottom: -2px;
}

header li:nth-child(5) a {
  color: #0d6efd;
}

/* -- MAIN -- */

main a {
  text-decoration: none;
  color: #0d6efd;
}
